

.Prizes{
    width: 32rem;
    height: 25rem;
    margin: 0 auto;
    margin-bottom: 5rem;
    text-align: center;
    margin-top: 1.7rem;
}
.sponsorPrizes {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    // justify-content: center;
    align-items: center;
}

.PrizeHeading h1{
    font-size: 5rem;
    margin-bottom: 2rem;
    font-weight: 700;
    font-family: 'Nunito', sans-serif;

}

.sponsorTrackIcons img{
    background-color: #eeeee9;
    padding: 10px;
    border-radius: 10px;
    width: 100%;
}

.Prizes p{
    color: rgb(235, 232, 232);
    font-size: 3rem;
    font-weight: bold;
}

.prizeicons{
height: 7rem;
display: flex;
flex-direction: column;
justify-content: end;
align-items: center;
}
.Prizes .first{
    // color:#A239EA;
    color: #FFBF00;
}

.Prizes .second{
    // color:#39A2DB;
    color: silver;
    font-size: 3.6rem;
}

.Prizes .third{
    // color:#FF616D;
    color:  #CD7F32;
    font-size: 3rem;
}

.Prizes .fourth{
    color:#3C8DAD;
}

.Prizes .fifth{
    color:#BF1363;
}

.Prizes .sixth{
    color:#FF96AD;
}

.Prizes .seventh{
    color:#E4BAD4;
}

@media screen and (max-width: 700px){
        .Prizes{
            width: 90%;
        }

        @media screen and (max-width: 520px) {
            .PrizeHeading h1 {
                font-size: 3.3rem;
            }
        
            .Prizes {
                margin-bottom: 1rem;
            }
            .Prizes p{
                font-size: 1.7rem;
            }
        }
}